{% extends "base.html" %}
{% block title %}ShortenLinks URL - A Python Based URL Shortener{% endblock %}
{% block home %}active{% endblock %}
{% block content %}

<div class="mt-3 text-center select-none d-flex flex-column justify-content-center align-items-center" style="min-height: 200px;">
    <h1 style="font-family: 'Alkatra', cursive;">ShortenLinks</h1>
    <h3>A Python Based URL Shortener</h3>
    <p id="animated-tags" class="fs-5">Shorten your URLs, lengthen your reach</p>
</div>
<div class="url-shorting-form mx-auto mt-3" style="max-width: 700px;">
    <div class="login-required-div">
        <div class="login-required mb-4 d-flex flex-wrap gap-3 justify-content-between align-items-center">
            <div class="mx-auto">
                <label for="redirect-type">Redirection Type:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="type-http" name="redirect-type" checked>
                    <label class="form-check-label" for="type-http">
                  HTTP
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="type-meta" name="redirect-type">
                <label class="form-check-label" for="type-meta">
                  META
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="type-script" name="redirect-type">
                <label class="form-check-label" for="type-script">
                  SCRIPT
                </label>
              </div>
            </div>
            <div class="mx-auto">
                <label for="service-type">Shortener Service:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="type-sh" name="service-type" checked>
                    <label class="form-check-label" for="type-sh">
                        ShortenLinks
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="type-ct" name="service-type">
                    <label class="form-check-label" for="type-ct">
                  Cuttly
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="type-tl" name="service-type">
                <label class="form-check-label" for="type-tl">
                  Tly
                </label>
              </div>
            </div>
            <div class="mx-auto" style="max-width: 120px;">
                <label for="alias">Custom Alias</label>
                <input type="text" class="form-control" name="alias-name" id="alias">
            </div>
        </div>
    </div>
    <form method="POST" id="shorting-form">
        <div class="input-group input-group-lg mb-3">
            <input type="url" class="form-control" id="url" name="url" placeholder="Paste your long url here" required>
            <button class="btn btn-primary" type="submit">Shorten</button>
        </div>
    </form>
</div>
<div id="url-list" class="short-url-list mx-auto mt-5 d-flex flex-column gap-3" style="max-width: 700px;">
</div>
<div class="credits mx-auto mt-5" style="max-width: 700px;">
    <h3 class="text-center">About Us</h3>
    <p>Welcome to our Flask-powered URL Shortener website, developed by Python expert <a href="https://github.com/davidemusi" target="_blank">David Okon</a>. Our platform offers a simple and efficient solution to transform lengthy URLs into easily shareable links, while prioritizing your privacy and security.</p>
    <p>Utilizing Flask, a versatile and robust Python web framework, we have constructed our website to enable rapid and effective development of web applications. We take pride in the fact that our website is an open source project, providing its source code on GitHub for public access, utilization, and collaboration. You can access our code repository at <a href="https://github.com/davidemusi/ShortenLinks.git" target="_blank">https://github.com/davidemusi/ShortenLinks.git</a>.</p>
    <p>We appreciate your decision to utilize our URL Shortener website for all your link-shortening requirements. Our aim is to deliver a prompt, dependable, and convenient service, and we extend a warm invitation to individuals interested in contributing to our open source project.</p>
</div>
<div style="height: 50px;"></div>
{% endblock %}
{% block footer %}
<script>window.addEventListener('load', run_animated_tags)</script>
{% endblock %}